.panel
  %h6= idea.user_email
  %hr
  = simple_format idea.text
  - if defined?(show_links) && show_links
    %br
    = link_to 'Show', idea
    |
    = link_to 'Edit', edit_idea_path(idea)
    |
    = link_to 'Destroy', idea, :method => :delete, :data => { :confirm => 'Are you sure?' }
