%article.panel
  %header.clearfix
    .left
      %h6
        = idea.user_email
        = link_to '(show)', idea
    .right
      = link_to edit_idea_path(idea) do
        %i.entypo.pencil
      = link_to idea, method: :delete, data: { confirm: 'Are you sure?' } do
        %i.entypo.cross
  %hr

  .voting-widget{ data: { idea_id: idea.id,
                          vote_total: idea.vote_total,
                          can_upvote: idea.can_upvote?,
                          can_downvote: idea.can_downvote?,
                          can_cancel_vote: idea.can_cancel_vote? } }
    (#{idea.vote_total})

  %br

  = idea.html
